body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background-color: #1e211e !important;
}

label {
    font-weight: normal;
}

.graphs_row div {
    display: inline-block;
    vertical-align: top;
}


#hero_pie_container {
    height: 380px;
    width: 340px;
    margin-left: 20px;
}

#win_loss_container {
    width: 100%;
    height: 163px;
    margin: 0px;
    background-image: url(../img/back_banner.jpg);
    background-position: center;
}

#item_percent_container {
    position: relative;
    height: 410px;
    width: 670px;
}

#item_percent_container label {
    position:absolute;
    width:200px;
}

#item_sort_label {
    width:100px;
}

#value_sort_label {
    margin-left:105px;
}

#cost_sort_label {
    margin-left:230px;
}

#hero_chord_container {
    position: relative;
    height: 520px;
    width: 440px;
}

#user_interact_container {
    position: relative;
    height: 530px;
    width: 500px;
}

#xpm_container {
    height: 530px;
    width: 500px;
}

#gpm_container {
    height: 530px;
    width: 500px;
}

#radiant-background {
    height: 418px;
    width: 509px;
}

#page-header {
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0px;
    left: 0px;
    padding: 0px;
    background-color: rgb(17, 17, 17);
    z-index: 1000;
}

#page-content {
    margin-top: 45px;
    background-color: rgb(33, 33, 33);
    font-family: sans-serif;
    font-color: white;
}

#page-content > div {
    margin-right: auto;
    margin-left: auto;
}

#corner {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    width: 100px;
    text-align: center;
}

#corner-logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 10px;
}

#questionmark {
    position: absolute;
    top: 5px;
    right: 15px;
}

#nav {
    width: 950px;
    height: 40px;
    margin-right: auto;
    margin-left: 250px;
}

#filters {
    float: left;
}

#userdropdown {
    display: inline-block;
    width: 150px;
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 1);
    vertical-align: middle;
    color: white;
    background-image: linear-gradient(to bottom, #333333, #222222);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#userdropdown:hover {
    background-color: #222222;
    background-image: none;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position 0.5s linear;

}

.end_screen_selected {
    fill: aquamarine !important;
}

.match_dot_hover {
    fill: aquamarine !important;
    stroke-width: 1px;
    stroke: black;
}

#stat_graphs {
    position: relative;
    width: 100%;
    height: 1505px;
    margin: 0px;
}

#record_content {
    width: 1040px;
    height: 80px;
    z-index: 2;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
    padding-left: 50%;
    margin-left: -520px;
}

.win_loss rect {
    stroke: null;
    stroke-width: 2px;
}

.win {
    fill: rgba(36, 154, 105, 0.8);
}

.loss {
    fill: rgba(247, 38, 67, 0.8);
}

.gpm_brush .extent {
    fill: gray;
    opacity: .3;
}

.xpm_brush .extent {
    fill: gray;
    opacity: .3;
}

text {
    font-family: Georgia;
    color: white !important;
    font-size: 18px;
}

path {
    /*  stroke: #fff;
    */
    fill-rule: evenodd;
    stroke: white;
}

.path:hover {
    fill: white;
}

.bar:hover {
    fill: white;
}

#item_percent_tooltip_img {
    margin-top: 4px;
    float: left;
}

#item_percent_tooltip_most_purchased {
    margin-top: 2px;
}

#item_percent_tooltip_most_purchased img {
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-top: 2px;
}

#scatter_tooltip_img {
    margin-top: 13px;
    float: left;
}

#tooltip_text {
    float: left;
    margin-left: 5px;
}

#hero_sunburst_tip {
    float: left;
    margin-top: 2px;
}

.axis text {
    font: 10px sans-serif;
}

.item_percent .x.axis text {
    visibility: hidden;
}

.axis line,
.axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#item_percent_filters {
    position: absolute;
    width: 170px;
    top: 40px;
    left: 50%;
    margin-left:-150px;
    z-index: 1;
}

#item_percent_filters label {
    margin-bottom: -10px;
}

#item_filter {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 900px;
}

#hero_filter {
    z-index: 1;
    position: absolute;
    top: 90px;
    left: 250px;
}

#toggle_color_pretty {
    z-index: 1;
    position: absolute;
    top: 55px;
    left: 73px;
}

#toggle_color_ugly {
    z-index: 1;
    position: absolute;
    top: 55px;
    left: 252px;
}

.bubble a:visited {
    color: gray;
}

/*tooltip styles*/

/*these styles come from: https://github.com/Caged/d3-tip*/
.d3-tip {
    z-index: 101;
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
    text-align: center;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    /*content: "\25BC";*/
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Southward tooltips */
.d3-tip.s:after {
    /*content: "\25B2";*/
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Westward tooltips */
.d3-tip.w:after {
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

/* helper tooltip adapted from: http://www.davidjrush.com/blog/2011/12/simple-jquery-tooltip/ */
span.question {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #223373;
    line-height: 18px;
    color: White;
    font-size: 13px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

span.question-selected {
    background-color: #3D6199;
}

div.graph_description {
    background-color: White;
    color: White;
    border: 2px solid black;
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 10000;
    width: 600px;
    border-radius: 5px;
    text-align: left;
}

div.graph_description:before {
    border-color: transparent #3D6199 transparent transparent;
    border-right: 6px solid #3D6199;
    border-style: solid;
    border-width: 6px 6px 6px 0px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: -6px;
}

div.graph_description p {
    margin: 10px;
    color: black;
}

div.graph_description strong {
    color: black;
}

.chordtip {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
    line-height: 1;
    position: absolute;
    pointer-events: none;
    z-index: 10000;
}

.hidden {
    display: none;
}

#game_mode_table td, #lobby_table td {
    background-color: #333333;
    text-align: center;
    color: white;
    vertical-align: middle
}

#game_mode_table th, #lobby_table th {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#game_mode_table, #lobby_table {
    background-color: black;
}

#receptionlist {
    position: absolute;
    top: 35%;
    left: 40%;
}

#splash {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    /*background-color: #3d3d3d;*/
    background-color: white;
}

.splash-text {
    margin-top: 10px;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    /*padding: 2px;*/
}

.splash-title {
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
}

.splash_sub {
    color: #99222F;
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.splash-nav {
    width: 700px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#splash_page2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    /*background-color: #3d3d3d;*/
    background-color: white;
    margin-bottom: 20px;
}

.spacer {
    height: 20px;
}

#colorblind {
    float: right;
}

.logoimage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 700px;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

hr {
    width: 100%;
    border-top: 1px solid #D2D2D2;
    margin-top: 5px;
    margin-bottom: 5px;
}


.clear-button_gpm {
    cursor: pointer;
}

.clear-button_xpm {
    cursor: pointer;
}

.footer {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #4f4f4f;
}

.footer a {
    color: #4f4f4f;
}

#corner {
    margin: 0px;
}

#corner-btn {
    height: 45px;
    width: 200px;
    color: white;
    margin: 0 20px;
    border: 0px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    background-image: url(../img/max_logo.png);
}

#filters {
    height: 45px;
}

span button {
    height: 45px;
    padding: 0 20px;
    margin: 0 5px;
    color: white !important;
    border: 0px !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0px !important;
}

span button:hover {
    background-color: rgb(100, 100, 100) !important;
}

button {
    border-radius: 0px !important;
}

.modal-footer button {
    width: 100px;
}

#win_loss_bar {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -355px;
    margin-top: 50px;
}

text {
    fill: white !important;
    font-family: sans-serif !important;
    font-size: 15px;
    font-weight: 100;
}

#win_loss_text {
    margin-bottom: 20px;
}

.divide_line {
    position: absolute;
}

.match-info {
    position: absolute;
    margin-left: 10px;
    margin-top: 40px;
    background-color: rgba(15, 15, 15, 0.5);
}

table {
    display: table;
}

.match-info td {
    padding: 5px 10px;
}

.header td {
    color: #999;
}

.content td {
    color: #fff;
}

tbody {
    text-align: center;
}

thead {
    text-align: center;
}

#close_btn {
    width: 100px;
    margin-top: 60px;
    position: absolute;
    margin-left: -110px;
    left: 100%;
    display: inline-block;
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 1);
    vertical-align: middle;
    color: white;
    background-image: linear-gradient(to bottom, #333333, #222222);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.graphs_row {
    margin-top: 60px;
    margin-left: -500px;
    padding-left: 50%;
}

#radiant tbody .player_name {
    color:#a9cf54;
}

#dire tbody .player_name  {
    color:#c23c2a;
}

tbody tr {
    padding: 10px 0px;
}

.trend-chart {
    height:450px;
    width:100%;
    align:center;
}


.trend-chart_2 {
    height:450px;
    width:100%;
    align:center;
    margin-left:400px;
}

#trend-svg-1, #trend-svg-2 {
    height:400px;

    margin-left: 0;
    margin-right: auto;
    margin-top:80px;
    position: absolute;
    top: 280px; left: 0; bottom: 0; right: 0;
}

#gpm_path {
    stroke: #F7B018;
}

#xpm_path {
    stroke:#87CEFA;
}

#trend-svg-1 {
    left:50%;
    margin-left:-500px;
}

#trend-svg-2 {
    left:50%;
    margin-left:-500px;
}