#end_screen {
    position: relative;
    height: 675px;
    width: 1060px;
}

#end_screen .header {
    font-size: 12px;
}

#winner_spacer {
    width: 300px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
}

#winner {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.radiant {
    color: #598307;
}

.dire {
    color: #A83806;
}

#match_data {
    height: 90px;
}

#left_col {
    float: left;
}

#right_col {
    float: right;
    text-align: right;
}

#closebutton {
    width: 55px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    z-index: 2;
}

.buttonholder {
    text-align: center;
}

#players {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#players table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0px;
}

#players table#dire {
    margin-top: 5px;
}

#radiant tbody tr:nth-child(odd) {
    background-color: #1e211e;
}

#radiant tbody tr:nth-child(even) {
    background-color: #141914;
}

#dire tbody tr:nth-child(odd) {
    background-color: #211e1e;
}

#dire tbody tr:nth-child(even) {
    background-color: #191414;
}

#players td, #players th {
    padding: 3px;
    text-align: center !important;
    vertical-align: middle;
    font-weight: 100;
}

#players .headers {
    background-color: rgb(17, 17, 17);
}

#players .team th {
    text-align: left;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-shadow: 2px 2px 1.5px #000000;
}

#players tr.headers {
    height: 56px;
}

#players td {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    padding: 0 15px;
}

#players td * {
    vertical-align: middle;
}

#players #user {
    background-color: rgba(100, 100, 100, 0.5);
}

#players tbody .player_name {
    padding-left: 20px;
    text-align: left !important;
    min-width: 150px;
    max-width: 150px;
}

#players tbody .hero {
    text-align: left !important;
}

.level {
    text-align: right;
    width: 40px;
}

#players .hero {
    text-align: left;
    width: 100px;
}

.kills, .deaths, .assists {
    text-align: right;
    width: 20px;
}

.items {
    text-align: center;
    width: 310px;
}

.gold {
    text-align: right;
    width: 45px;
}

.last_hits {
    text-align: right;
    width: 70px;
}

.denies {
    text-align: right;
    width: 45px;
}

.gold_per_min {
    text-align: right;
    width: 45px;
}

.xp_per_min {
    text-align: right;
    width: 45px;
}

.end_screen_item_pic {
    margin: 0px 2px;
}

.ability_build {
    position: absolute;
    width: 700px;
    height: 236px;
    left: 390px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid black;
}

.ability_build_img {
    height: 50px;
    width: 50px;
}

#players img {
    border: 1px solid black;
}
